*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  font-size: 16px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: auto;
  max-width: 720px;
  min-height: 100vh;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
}

header, footer {
  background-color: peachpuff;
  padding: 10px;
}

header {
  font-size: 20px;
}

.tight {
  margin: 0;
}

.right {
  float: right;
}

a.call-to-action {
  display: inline-block;
  border-radius: 0.5em;
  background-color: plum;
  padding: 1em;
  font-weight: bold;
}
